{% extends 'base.html.twig' %}
{% block body %}
    Welcome!!!


    {% if is_granted("ROLE_USER") %}
        Hello {{ app.user.username }}
    {% else %}
        Please login <a href="{{ path('auth_login') }}">Login </a>
    {% endif %}
{% endblock %}
